<!-- <div class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3 ">
            <form class="form-container">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>&nbsp;
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>&nbsp;
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
              </form>

        </section>
    </section>
</div> -->
<body>
<section class="login py-5 bg-light">
    <div class="container">
        <div class="row bg-light">
            <div class="col-lg-5">
                <img src="../../../assets/images/mobile.jpg" class="img-fluid">
            </div>
            <div class="col-lg-7 text-center py-5">
                <h1>Login Here</h1>
                <form [formGroup]="LoginForm" (submit)="login()">
                    <div *ngIf="isNotLoggined" >
                        <small class="text-danger">Invalid Credentials</small>

                    </div>
                    <div class="form-row pt-5">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp" id="email" placeholder="Email Address" formControlName="email">
                        </div>
                    </div>
                    <div class="form-row pt-3">
                        <div class="offset-1 col-lg-10">
                            <input type="password" class="inp" placeholder="Password" id="password" formControlName="password">
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <button class="btn1" type="submit">sign in</button>
                        </div>
                    </div>
                   
                </form>
                <p>Do not have an account <a routerLink="/register">Sign Up?</a></p>
                <!-- <p>Or Login with</p>
                <button type="button" class="btn btn-danger btn-git"><i class="fa fa-github left"></i> Github</button> -->
            </div>
        </div>
    </div>
</section>
</body>