
.example-container{
    margin-left: 10%;
    width: 30%;
    text-align: center;
    
}

.form-container{
    width: 300 px; 
    margin: 0 px auto; 
    margin-top: 200 px
    
}

.form-field{
    display: block
}
