.addmoney{
    width:20%;
    background-color:darksalmon;
    padding-bottom: 20px;
}
.wallet{
    text-align: center;
    
}
.addMoneyForm{
    margin-bottom:30px ;
}
.add{
    margin-left: 25%;
}

